<table>
  <thead>
    <tr>
    <th></th><th><th></th></th></th>
    {% for letter in s2 %}
    <th>{{ letter}}</th>
    {%endfor%}
    <tr>
     <th></th> <th></th><th>0</th>
        {% for letter in s2 %}
    <th>{{ loop.index0 + 1}}</th>
    {%endfor%}
    </tr>
    </tr>
    </thead>
      <tr><td></td><td>0</td> <td>{{matrix[0][0][0]}}</td>
      {%for i in s2 %}
      <td>{{matrix[0][loop.index][0]}}</td>
      {%endfor%}

      </tr>
    {% for  letter in s1 %}
     {% set letterloop = loop %}
  <tr>  <td><b>{{ letter }}</b></td>
         <td><b>{{loop.index}}</b></td>
         <td>{{matrix[letterloop.index][0][0]}}</td>
        {%for j in s2  %}
        <td>{{matrix[letterloop.index][loop.index][0]}}</td>
        {% endfor %}

  </tr>
    {% endfor %}

</table>



